[submodule "extern/hupo-psi"]
	path = extern/hupo-psi
	url = https://github.com/HUPO-PSI/psi-ms-CV
	shallow = true
[submodule "extern/obo-relations"]
	path = extern/obo-relations
	url = https://github.com/oborel/obo-relations
	shallow = true
[submodule "extern/pato-ontology"]
	path = extern/pato-ontology
	url = https://github.com/pato-ontology/pato
	shallow = true
[submodule "extern/plant-ontology"]
	path = extern/plant-ontology
	url = https://github.com/Planteome/plant-ontology
	shallow = true
