[submodule "extern/hupo-psi"]
	path = extern/hupo-psi
	url = https://github.com/HUPO-PSI/psi-ms-CV
[submodule "extern/obo-relations"]
	path = extern/obo-relations
	url = https://github.com/oborel/obo-relations
